<div class="banner">
        <img src="/assets/banners/personagens.gif" />
</div>
<div class="container">

        <div class="secao">
                <h3 class="text-center">Personagens</h3>
                <h5 class="text-center">Os melhores personagens da galáxia se encontram aqui</h5>
        </div>

        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                        <input type="text"
                        class="form-control"
                        placeholder="Pesquise por personagens..."
                        #termoDaPesquisa
                        (keyup)="pesquisarPersonagens(termoDaPesquisa.value)"
                        />
                </div>
                <div class="col-md-4"></div>
        </div>

        <hr />

        <div class="row" style="margin-bottom: 50px" *ngIf="rootPersonagens; else loading">
                <div class="col-sm-4" *ngFor="let personagem of rootPersonagens.results">
                        <div class="card">
                                <div class="card-block">
                                        <h4 class="card-title">{{ personagem.name }}</h4>
                                        <a [routerLink]="['/personagens', personagem.id]" class="btn btn-primary">Detalhes</a>
                                </div>
                        </div><br />
                </div>
                <hr />
        </div>

        <app-paginacao [isPagination]="isPagination" [rootObjeto]="rootPersonagens"
                (listarObjetos)="listarPersonagens($event)" [paginaAtual]="paginaAtual"
                [numbersPagination]="numbersPagination"></app-paginacao>

        <ng-template #loading>
                <br/>
                <h3 class="text-center">Carregando. Aguarde...</h3>
        </ng-template>
</div>