h5 {
    color:#999
}

h4 {
    color:#555
}

h3 {
    color: #555
}

.card {
    vertical-align: inherit;
}

.card img {
    height: 200px;
}

.card-block {
    vertical-align: 30px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px
}

.preco {
    color: #f60;
    font-weight: bold;
    font-size: 20px
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
