<div class="banner">
    <img src="/assets/banners/menu.gif" />
</div>

<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Bem-vindo ao univervo de Star Wars</h3>
    <h5 class="text-center">Explore a vontade e que a força esteja com você</h5>
  </div>

  <hr />

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/banners/naves.jpg">
        <div class="card-block">
          <h4 class="card-title">Categoria: Naves</h4>
          <p class="card-text">Naves do Universo de Star Wars</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/banners/personagens.jpg">
        <div class="card-block">
          <h4 class="card-title">Ctegoria: Personagens</h4>
          <p class="card-text">Personagens do Universo de Star Wars</p>
          
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/banners/planetas.jpg">
        <div class="card-block">
          <h4 class="card-title">Categoria: Planetas</h4>
          <p class="card-text">Planetas do Universo de Star Wars</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  
</div>
