<div class="fixed-top">
  <nav class="navbar navbar-default bg-faded" style="background-image: url('assets/banners/stars.png');width: 100%;">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/logo-star-wars.png" />
      </a>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/naves">Naves</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/personagens">Personagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/planetas">Planetas</a>
        </li>
      </ul>
    </div>
  </div>
</div>